.addBtn {
	border: 1px solid transparent;
	padding: 4px 10px;
}

.addBtn:hover {
	background-color: rgb(57, 56, 56);
}

input {
	border: 1px solid gray;
	border-radius: 4px;
	margin: 6px;
	padding: 6px 8px;
}

input:focus {
	border: 1px solid orange;
	outline: none;
}
